{% extends 'base_with_body.html' %}

{% block body %}
    <div class="row">
        <div class="col">
            Vul uw unique code en e-mail in om verder te gaan met een vragenlijst

            <form method="get">
                {% csrf_token %}
                {% with form as form %}
                    {% include "snippets/bootstrap_form.html" %}
                {% endwith %}
                <input type="submit" value="Bevestig" class="btn btn-block btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}