{% extends 'base_public.html' %}

{% block css %}
    {{ block.super }}
    <link href="{% static "css/progress_tabs.css" %}" rel="stylesheet">
{% endblock %}

{% block outside-container-content-top %}
    {# Display the step progress #}
    {% include "snippets/three_steps_bar_snippet.html" %}

    {# Display questionaire progress bar #}
    <div class="row justify-content-center my-3">
        <div class="col-12 col-md-10 col-lg-8">
            <!-- Progress bar -->
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ progress_percentage }}"
                     aria-valuemin="0" aria-valuemax="100" style="width:{{ progress_percentage }}%">
                    <span class="sr-only">{{ progress_percentage }}% Complete</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}

{% block body %}
    <form method="post" class="row">
        {% csrf_token %}
        <div class="col-12">
            {% include "snippets/bootstrap_form.html" %}
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    {% if has_prev_page %}
                        <input type="submit" name="prev" value="Terug" class="btn btn-block btn-outline-primary"/>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if has_next_page %}
                        <input type="submit" name="next" value="Verder" class="btn btn-block btn-primary"/>
                    {% else %}
                        <input type="submit" name="next" value="Voltooi" class="btn btn-block btn-success"/>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>


    <br>
    {% include "inquiry/snippets/progress_tabs.html" %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}

