{% extends 'base_public.html' %}
{% load score_result_tags %}
{% load static %}

{% block title %}{{ block.super }} - stap 2: resultaten{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <p class="">
                De vragenlijst is voltooid. Heronder staan de resultaten
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            {% if techs_recommanded or techs_varies %}
                <h3>Wij raden aan...</h3>
                <p>
                    Gebasseerd op de antwoorden die u heeft ingevuld kunnen wij het volgende aanraden:
                </p>
                {% with accordion_id='accordion_good' %}
                    <div id="{{ accordion_id }}">
                        {% for technology in techs_recommanded %}
                            {% include "inquiry/inquiry_snippets/snippet_tech_group_accordion.html" with tech_id=technology.id %}
                        {% endfor %}
                        {% for technology in techs_varies %}
                                {% include "inquiry/inquiry_snippets/snippet_tech_group_accordion.html" with tech_id=technology.id %}
                        {% endfor %}
                    </div>
                {% endwith %}
            {% else %}
                <h3>Wij raden aan... niets!</h3>
                <p>
                    Wij kunnen op dit moment niets aanraden.
                    {% if techs_unknown %}
                        Wij hebben hiervoor nog te weinig informatie. Mocht u de vragenlijst niet volledig hebben ingevuld,
                        dan raden wij u aan om de niet beantwoorde vragen ook te beantwoorden waar mogelijk.
                        {% if techs_discouraged %}
                            </p><p>
                            Wat we wel weten van u is dat één of meerdere maatregelen niet nodig zijn.
                            Dit is bij u al geoptimaliseerd of geeft in uw geval geen toegevoegde waarde.
                            Deze zijn hieronder toegelicht:
                        {% endif %}
                    {% elif techs_discouraged %}
                        U lijkt alles al op orde te hebben. Uitstekend! Mocht u alsnog twijfelen raden we u aan om een expert bij u in de buurt te raadplegen.
                    {% endif %}
                </p>

            {% endif %}
        </div>

        <div class="col-12">
        {% if techs_discouraged %}
            {% if techs_recommanded or techs_varies %}
                <hr class="border-1 p-2">
                <h3>Wij raden u af...</h3>
                <p>
                    Gebasseerd op de antwoorden die u heeft ingevuld kunnen wij het volgende niet aanraden. U heeft dit al geoptimaliseerd of deze aanpassing heeft geen toegevoegde waarde
                    voor u.
                </p>
            {% endif %}
            {% with 'accordion_bad' as accordion_id %}
                <div id="{{ accordion_id }}">
                    {% for technology in techs_discouraged %}
                        {% include "inquiry/inquiry_snippets/snippet_tech_group_accordion.html" with tech_id=technology.id %}
                    {% endfor %}
                </div>
            {% endwith %}
            {% endif %}
        </div>

        <div class="col-12">
        {% if techs_unknown %}
            <hr class="border-1">
            <h3>Wij kunnen u niet verder helpen met...</h3>
            <p>
                Wij hebben helaas te weinig informatie om een uitspraak te kunnen doen over de volgende  technologien. Beantwoord
                zoveel mogelijk vragen of zoek een specialist bij u in de buurt om te weten of dit interessant voor u kan zijn.
            </p>

            {% with 'accordion_unknown' as accordion_id %}
                <div id="{{ accordion_id }}">
                    {% for technology in techs_unknown %}
                        {% with extra_card_class='' %}
                            {% include "inquiry/inquiry_snippets/snippet_tech_group_accordion.html" with tech_id=technology.id %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endwith %}
        {% endif %}
        </div>
    </div>

    <hr>

    <div class="">
        <h2>Download resultaten</h2>
        {% if applicable_reports %}
            <div>
                Onderstaande verslag{{ applicable_reports|pluralize:'en' }} kan mogelijk nuttig voor u zijn
            </div>

            <div class="p-3">
                {% for report in applicable_reports %}
                    {% include "reports/snippets/snippet_report_download.html" %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <hr>

    <h2>Hoe nu verder</h2>
    <div class="row">
        <div class="col col-md-6">
            <p class="font-weight-bold">Pas antwoorden aan</p>
            <p>
                {% if techs_unknown %}
                    Voor sommige adviezen konden wij geen conclusies trekken. Mogelijk heeft u niet alle vragen ingevuld.
                {% endif %}
                Wilt u uw antwoorden veranderen? Dan kan dat hieronder
            </p>
            <a href="{% url 'reset_inquiry' %}" class="btn btn-primary">Verander antwoorden</a>
        </div>
        <div class="col col-md-6">
            {% if techs_recommanded or techs_varies %}
                <p class="font-weight-bold">Onderneem actie</p>
                <p>
                        Er zijn verscheidene onderdelen in uw woning die u kunt verbeteren. Nu is het tijd om dit aan te
                        pakken. Ga naar stap 3 om adviezen te krijgen hoe de geconstateerde problemen kunnen worden aangepakt.
                </p>
                {% if ENABLE_STAP_3 %}
                <a href="{% url 'collectives:take_action' %}" class="btn btn-primary btn-block btn-lg">
                    <i class="fas fa-arrow-right"></i> Ga door naar stap 3: Onderneem Actie
                </a>
                {% else %}
                    <div class="alert alert-info">
                        Wij zijn momenteel de laatste zaken in orde aan het maken. Kom over een paar dagen terug en
                        dan kunnen we u hiermee verder helpen.
                    </div>
                    <a class="btn btn-primary btn-block btn-sm disabled" >
                        <i class="fas fa-arrow-right"></i> Ga door naar stap 3: Onderneem Actie
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="py-5"></div>
{% endblock %}

