{% extends 'base_with_body.html' %}
{% load i18n %}

{% block body %}
    <div class="row">
        <div class="col">
            {% trans "Vul uw unique code en e-mail in om verder te gaan met een vragenlijst" %}

            <form method="post">
                {% csrf_token %}
                {% with form as form %}
                    {% include "snippets/bootstrap_form.html" %}
                {% endwith %}
                <input type="submit" value="{% trans "Bevestig" %}" class="btn btn-block btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}