{% extends 'base_with_body.html' %}

{% block body %}
    <div class="row">
        <div class="col">
            Deze vragenlijst is geassocieerd aan een e-mail adres. Gelieve dit adres in te vullen zodat we weten dat u het bent.

            <form method="get">
                {% csrf_token %}
                {% with form as form %}
                    {% include "snippets/bootstrap_form.html" %}
                {% endwith %}
                <input type="submit" value="Bevestig" class="btn btn-block btn-primary"/>
            </form>
        </div>
    </div>
{% endblock %}