<div style="display: none" class="invite_content">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Gestuurd door</th>
            <th scope="col">Op</th>
            <th scope="col">Accepteer/ weiger</th>
        </tr>
        </thead>
        <tbody >
            {% for rsvp in rsvps %}
                <tr>
                    <td>{{ rsvp.collective.name }}</td>
                    <td>{{ rsvp.created_on|date:"j/m/y" }}</td>
                    <td><a class="btn btn-primary btn-block"
                           href="{{ rsvp.get_local_absolute_url }}">
                        <i class="fas fa-reply"></i> Reageer
                    </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


