{% extends 'base_with_body.html' %}
{% load score_result_tags %}
{% load collective_tags %}

{% block body %}
    <h1>Collectieve installatie voor {{ collective.tech_collective.technology }}</h1>
    <div class="row">
        <div class="col-12 col-md-6">
            <p><b>{{ collective.tech_collective.technology }}</b></p>
            <p>
                {{ collective.tech_collective.technology.short_text }}
            </p>
            <a class="btn btn-info" href="{{ collective.tech_collective.technology.get_absolute_url }}"
               target="_blank" rel="noopener noreferrer" >
                <i class="fas fa-info-circle"></i> Meer informatie
            </a>
        </div>
        <div class="col-12 col-md-6">
            <p><b>Instructies</b></p>
            <p>
                Samen met elkaar kan je een collectieve inkoop opzetten. Wil je weten hoe? Download dan hieronder
                het overzichtelijke stappenplan.
            </p>
            <a class="btn btn-info" href="{{ collective.tech_collective.technology.get_absolute_url }}">
                <i class="fas fa-file-download"></i> Download {{ collective.tech_collective.technology }} collectief stappenplan
            </a>
        </div>
    </div>
    <hr>
    <p>
        Collectief is momenteel
        {% if collective.is_open %}
            <i class="fas fa-door-open"></i>open om te betreden.
        {% else %}
            <i class="fas fa-door-closed"></i>gesloten. Anderen kunnen er niet meer bij.
        {% endif %}
    </p>
    <hr>

    <div class="row">
        <div class="col-md-8 pb-2 pb-md-0">
            <div>
            {% if collective.is_open %}
                <h3>Deelnemers</h3>
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>Uitgenodigd</td>
                            <td>Nog niet gereageerd</td>
                            <td>Geaccepteerd</td>
                            <td>Afgewezen</td>
                        </tr>
                        <tr>
                            <td>{{ collective.collectiversvp_set.count }}</td>
                            <td>{{ collective.open_rsvps.count }}</td>
                            <td>{{ collective.collectiveapprovalresponse_set.count }}</td>
                            <td>{{ collective.collectivedeniedresponse_set.count }}</td>
                        </tr>
                        <tr>
                            <td>
                                {% with num_uninvited=collective|number_of_uninvited %}
                                    {% if num_uninvited > 0 %}
                                        <button type="submit" class="btn btn-primary btn-sm" form="send_new_invites_form"
                                                data-toggle="tooltip" data-placement="bottom"
                                                title="Er zijn nieuwe mensen in uw omgeving gevonden die mogelijk interesse hebben. Klik om ze uit te nodigen.">
                                            <i class="fas fa-envelope"></i> Stuur {{ num_uninvited }} nieuwe uitnodiging{{ num_uninvited|pluralize:"en" }}
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary btn-sm disabled"
                                                data-toggle="tooltip" data-placement="bottom" title="Er is geen nieuwe interesse in uw omgeving">
                                            <i class="fas fa-envelope"></i> Stuur 0 nieuwe uitnodigingen
                                        </button>
                                    {% endif %}
                                    <form method="post" id="send_new_invites_form"
                                          action="{% url "collectives:active_collective_invite_new" collective_id=collective.id %}">
                                    {% csrf_token %}
                                    </form>
                                {% endwith %}
                            </td>
                            <td>
                                <button type="submit" class="btn btn-secondary btn-sm" form="collective-reminder-form"
                                        data-toggle="tooltip" data-placement="bottom"
                                        title="Herinneringen worden verstuurd aan ieder die de afgelopen 7 dagen een bericht hebben ontvangen.">
                                    <i class="fas fa-envelope"></i> Stuur herinnering
                                </button>
                                <form method="post" id="collective-reminder-form"
                                      action="{% url 'collectives:send_reminders_view' collective_id=collective.id %}">
                                    {% csrf_token %}
                                </form>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>

                <p>
                    Heeft u genoeg geïnteresseerden, dan kunt u hieronder de toegang sluiten. De huidige uitnodigingen worden
                    dan niet meer toegevoegd en mogelijke nieuwe geïnteresseerden kunnen zich niet meer aanmelden.<br>
                </p>


            {% else %}
                <p>
                    Zoekt u extra buurtgenoten om mee te laten doen? Open dan de aanmeldingen opnieuw.
                </p>
            {% endif %}
            </div>
            <div>
                {% if collective.is_open %}
                    <!-- The buttons -->
                    <div class="btn-group" role="group" aria-label="invitation-actions">
                        <button type="submit" class="btn btn-warning" form="close_collective_form">
                            <input type="checkbox" name="to_state" class="d-none" form="close_collective_form">
                            <i class="fas fa-door-closed"></i> Sluit toegang
                        </button>
                    </div>

                    <!-- The forms, to present the buttons as a single group (nesting them blocks that -->
                    {% if collective.open_rsvps.count > 0 %}

                    {% endif %}
                    <form method="post" id="close_collective_form"
                          action="{% url "collectives:active_collective_change_open_state" collective_id=collective.id %}">
                        {% csrf_token %}
                    </form>
                {% else %}
                    <form method="post" action="{% url "collectives:active_collective_change_open_state" collective_id=collective.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-warning">
                            <input type="checkbox" name="to_state" checked="True" class="d-none">
                            <i class="fas fa-door-open"></i> Open toegang
                        </button>
                    </form>

                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="mr-auto"> Uw gegevens</h4>
                        <button class="btn btn-primary btn-sm" style="margin-left: 1em"
                                data-toggle="modal" data-target="#personal-settings">
                            <i class="fas fa-pen"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="card-text" style="border-spacing: 50px;">
                        <tr>
                            <td>
                                Naam:
                            </td>
                            <td style="width: 1em;"></td>
                            <td>
                                {{ collective.name|default_if_none:"-" }}
                            </td>
                        </tr>
                        <tr>
                            <td>

                                Address:
                                <span style="width: 5px;"></span>
                            </td>
                            <td></td>
                            <td>
                                {{ collective.address|default_if_none:"-" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tel:
                            </td>
                            <td></td>
                            <td>
                                {{ collective.phone_number|default_if_none:"-" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email:
                            </td>
                            <td></td>
                            <td>
                                {{ collective.inquirer.email|default_if_none:" - " }}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            {# Tooltip for personal settings #}
            <div class="modal fade" id="personal-settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                Wijzig u gegevens
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="personal-data-form" method="post"
                                  action="{% url 'collectives:edit_contact_data' collective_id=collective.id %}">
                                {% csrf_token %}
                                {% include "snippets/bootstrap_form.html" with form=personal_data_form%}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" form="personal-data-form">Opslaan</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <hr>
    <h3>Positieve reacties</h3>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr class="font-weight-bold">
                        <td style="min-width: 10rem">Name</td>
                        <td style="min-width: 10rem">e-mail
                            <div class="btn btn-outline-info btn-sm"
                                 data-toggle="tooltip" data-placement="bottom"
                                 title="Klik om alle mails te kopiëren naar je klembord"
                                 success-title="Gekopieerd naar klembord"
                                 failed_title="Kopiëren mislukt"
                                 onclick="copyStringToClipboard(this, '{{ collective|get_mail_list }}')"
                            >
                                <i class="far fa-clipboard"></i>
                            </div>
                        </td>
                        <td style="min-width: 10rem;">Telefoonnummer</td>
                        <td style="min-width: 10rem;">Reactie</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for agreed_rsvp in collective.collectiveapprovalresponse_set.all %}
                        <tr>
                            <td>{{ agreed_rsvp.name }}</td>
                            <td>
                                {{ agreed_rsvp.inquirer.email }}
                            </td>
                            <td>
                                {{ agreed_rsvp.phone_number }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rsvp-data-{{ agreed_rsvp.id }}">
                                    Bekijk volle info
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <script src="{% static "javascript/copy_to_clipboard.js" %}"></script>

            {# Pop up with full contact data #}
            {% for agreed_rsvp in collective.collectiveapprovalresponse_set.all %}
                <div class="modal fade" id="rsvp-data-{{ agreed_rsvp.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{ agreed_rsvp.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="">
                                    <table class="">
                                        <tr>
                                            <td>
                                                <b>adres</b>
                                            </td>
                                            <td>
                                                {% if agreed_rsvp.phone_number %}
                                                    {{ agreed_rsvp.address }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>e-mail</b>
                                            </td>
                                            <td>
                                                {% if agreed_rsvp.inquirer.email %}
                                                    <a href="mailto:{{ agreed_rsvp.inquirer.email }}">
                                                        {{ agreed_rsvp.inquirer.email }}
                                                    </a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pr-2">
                                                <b>Telefoonnummer</b>
                                            </td>
                                            <td>
                                                {% if agreed_rsvp.phone_number %}
                                                    <a href="tel:{{ agreed_rsvp.phone_number|phone2international }}">
                                                        {{ agreed_rsvp.phone_number }}
                                                    </a>
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <hr>
                                {{ agreed_rsvp.message|linebreaks }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}


{% block javascript %}
{{ block.super }}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}