.page_edit_overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-right: 30px;
    z-index: 100000;
}

.page_edit_overlay>div{
    border: 1px solid #ffffff;
    height:100%;
}

.page_edit_overlay.select>div{
    border-color: #20c997;
    border-width: 2px;
}

.page_edit_overlay:not(.select)>div:hover{
    border-color: #6b9430;
}

.page_edit_add{
    width: 100%;
    padding-right: 30px;
    z-index: 100000;
    border: 2px solid #20c997;
}

.pe_main{
    padding-right: 400px;
}

.pe_sidebar{
    width: 400px;
    background-color: #3E3F3A;
    color: #FFF;
    height: 90%;
    position: fixed;
    top: 8%;
    bottom: 5%;
    right: 0;
    z-index: 10;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

    border-radius: 10px 0 0 10px;
}

.pe_filler{
    position: relative;
    height: 0;
}

.pe_filler.selected,
.pe_filler.selected .pe_filler_insert_module_outer,
.pe_filler.selected .pe_filler_insert_module_outer.pe_filler_insert_module_inner{
    height: 2em;
}

.pe_filler .pe_filler_insert_module_outer:not(.selected){
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 20px;
    top: -10px;
}

.pe_filler .pe_filler_insert_module_outer .pe_filler_insert_module_inner{
    position: absolute;
    margin-top: 10px;
    min-width: 100%;
    height: 2px;
    top: -1px;
    text-align: center;
}

.pe_filler_insert_module_outer:hover .pe_filler_insert_module_inner{
    height: 30px;
    top: -15px;
    line-height: 26px;
    border-width: 2px;
    z-index: 6;
}

.pe_filler_insert_module_inner{
    box-sizing: border-box;
    overflow: hidden;
    border: 0px solid #8E8C84;
}

.pe_filler_insert_module_radio{
    display: None;
}

.pe_filler_insert_module_radio:checked+.pe_filler_insert_module_inner,
.pe_filler.selected .pe_filler_insert_module_outer .pe_filler_insert_module_inner{
    height: 30px;
    top: -15px;
    line-height: 26px;
    border: 3px solid #80b139;
    z-index: 6;
}

.pe_filler_insert_module_inner .checked{
    font-weight: bold;
}

.pe_filler_insert_module_radio:not(:checked)+.pe_filler_insert_module_inner .checked{
    display: None;
}

.pe_filler_insert_module_radio:checked+.pe_filler_insert_module_inner .unchecked{
    display: None;
}

.filled_insert_icon{
    position: absolute;
    left: 50%;
    top: 10px;
    width: 0;
    height: 0;
}
.filled_insert_icon::after{
    box-sizing: border-box;
    border: 1px solid #8E8C84;
    background-color: #F8F5F0;
    border-radius: 100%;
    position: absolute;
    width: 30px;
    height: 30px;
    top: -15px;
    left:-15px;
    content: '+';
    line-height: 25px;
    text-align: center;
    font-size: larger;

}

