{% extends 'base.html' %}
{% load score_result_tags %}
{% load static %}


{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="">Einde</h1>

            <p class="">
                De vragenlijst is voltooid. Heronder staan de resultaten
            </p>
        </div>
    </div>


    <div class="row">
        <div class="col-12">
            {% if techs_recommanded or techs_varies %}
                <h3>Wij raden aan...</h3>
                <p>
                    Gebasseerd op de antwoorden die u heeft ingevuld kunnen wij het volgende aanraden:
                </p>
                {% with accordion_id='accordion_good' %}
                    <div id="{{ accordion_id }}">
                        {% for technology in techs_recommanded %}
                            {% include "inquiry_pages/inquiry_snippets/snippet_tech_group_accordion.html" with tech_id=technology.id extra_header_class='bg-success text-white' %}
                        {% endfor %}
                        {% for technology in techs_varies %}
                                {% include "inquiry_pages/inquiry_snippets/snippet_tech_group_accordion.html" with tech_id=technology.id extra_header_class='bg-success text-white' %}
                        {% endfor %}
                    </div>
                {% endwith %}
            {% else %}
                <h3>Wij raden aan... niets!</h3>
                <p>
                    Wij kunnen op dit moment niets aanraden.
                    {% if techs_unknown %}
                        Wij hebben hiervoor nog te weinig informatie. Mocht u de vragenlijst niet volledig hebben ingevuld,
                        dan raden wij u aan om de niet beantwoorde vragen ook te beantwoorden waar mogelijk.
                        {% if techs_discouraged %}
                            </p><p>
                            Wat we wel weten van u is dat één of meerdere maatregelen niet nodig zijn.
                            Dit is bij u al geoptimaliseerd of geeft in uw geval geen toegevoegde waarde.
                            Deze zijn hieronder toegelicht:
                        {% endif %}
                    {% elif techs_discouraged %}
                        U lijkt alles al op orde te hebben. Uitstekend! Mocht u alsnog twijfelen raden we u aan om een expert bij u in de buurt te raadplegen.
                    {% endif %}
                </p>

            {% endif %}
        </div>

        <div class="col-12">
        {% if techs_discouraged %}
            {% if techs_recommanded or techs_varies %}
                <hr class="border-1 p-2">
                <h3>Wij raden u af...</h3>
                <p>
                    Gebasseerd op de antwoorden die u heeft ingevuld kunnen wij het volgende niet aanraden. U heeft dit al geoptimaliseerd of deze aanpassing heeft geen toegevoegde waarde
                    voor u.
                </p>
            {% endif %}
            {% with 'accordion_bad' as accordion_id %}
                <div id="{{ accordion_id }}">
                    {% for technology in techs_discouraged %}
                        {% with extra_card_class='bg-danger text-white' %}
                            {% include "inquiry_pages/inquiry_snippets/snippet_tech_group_accordion.html" with tech_id=technology.id extra_header_class='bg-danger text-white' %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endwith %}
            {% endif %}
        </div>

        <div class="col-12">
        {% if techs_unknown %}
            <hr class="border-1">
            <h3>Wij kunnen u niet verder helpen met...</h3>
            <p>
                Wij hebben helaas te weinig informatie om een uitspraak te kunnen doen over de volgende  technologien. Beantwoord
                zoveel mogelijk vragen of zoek een specialist bij u in de buurt om te weten of dit interessant voor u kan zijn.
            </p>

            {% with 'accordion_unknown' as accordion_id %}
                <div id="{{ accordion_id }}">
                    {% for technology in techs_unknown %}
                        {% with extra_card_class='' %}
                            {% include "inquiry_pages/inquiry_snippets/snippet_tech_group_accordion.html" with tech_id=technology.id %}
                        {% endwith %}
                    {% endfor %}
                </div>
            {% endwith %}
        {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Opties</h3>
            Hieronder staan twee opties die nog (deels) worden geimplementeerd

        </div>
        <div class="col-12">
            <a href="{% url 'reset_inquiry' %}" class="btn btn-block btn-primary">Herstart vragenlijst</a>
        </div>

        <div class="col-12 pt-2">
            <div class="row">
                <div class="col">
                    <a href="{% url 'results_pdf' %}" class="btn btn-block btn-primary">Download resultaten</a>
                </div>
                <div class="col">
                    <a href="" class="btn btn-block btn-disabled">Mail resultaten</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

