{% extends 'base_with_body.html' %}
{% load django_bootstrap_breadcrumbs  %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Data analyse" "data_analysis:overview" %}
{% endblock %}


{% block body %}
    <div class="btn-group" role="group" aria-label="Basic example">
        <a class="btn btn-outline-info" href="{% url 'data_analysis:overview' %}">Inquiry stats</a>
        <a class="btn btn-outline-info" href="{% url 'data_analysis:techs' %}">Technology stats</a>
        <a class="btn btn-outline-info" href="{% url 'data_analysis:initiative_interests' %}">Initiative Interests</a>
    </div>
    <hr>
    <form method="get">
        <div class="row">
            {% for form in forms %}
                <div class="col-4">
                    <h3>
                        {{ form.description }}
                    </h3>
                    {% include "snippets/bootstrap_form.html" %}
                </div>
            {% endfor %}
        </div>

        <input type="submit" value="Filter" class="btn btn-primary">
        <a href="{{ request.path }}" class="btn btn-secondary">Clear filters</a>
        {% for button in other_buttons %}
            <a href="{{ button.url }}" class="btn btn-info">
                {{ button.text }}
            </a>
        {% endfor %}
    </form>

    <hr>
    {% if queryset and queryset.count < MIN_INQUIRY_REQ %}
        <div class="alert alert-danger" role="alert">
            Het aantal resultaten is minder dan {{ MIN_INQUIRY_REQ }}. Voor privacy veiligheid worden deze resultaten
            niet weergeven.
        </div>
    {% endif %}
    {% block charts %}

    {% endblock %}
{% endblock %}

{% block javascript %}
    {{ block.super }}


    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="{% static "javascript/load_chart.js" %}"></script>

{% endblock %}