{% extends 'data_analysis/data_analysis_base.html' %}
{% load i18n %}
{% load collective_analysis_tags %}
{% load django_bootstrap_breadcrumbs  %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Collectives" "data_analysis:initiative_interests" %}
    {% breadcrumb technology "data_analysis:initiative_interests" tech_slug=technology.slug %}
{% endblock %}

{% block charts %}

    <div class="row">
        <div class="col">
            <h1>{{ technology }}</h1>
            <p>
                {% blocktrans trimmed with overall_count=queryset.count interested_count=queryset_interested.count %}
                    De eerste stap is dat mensen geïntereesserd moeten zijn in een collectief. Pas daarna kunnen
                    collectieven worden aangemaakt. In de huidige selectie zijn van <b>{{ overall_count }}</b> de
                    voorkeuren bekend. Hiervan hebben <b>{{ interested_count }}</b> aangegeven interesse te hebben
                    in een collectief in de regio.
                {% endblocktrans %}
            </p>
            <table class="table table-responsive table-responsive-sm">
                <thead>
                    <tr>
                        <td>Eigenschap</td>
                        <td>Aantal</td>
                        <td>Aantal afgelopen 7 dagen</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Voorkeuren bekend</td>
                        <td>{{ queryset.count }}</td>
                        <td>{{ queryset|filter_recent:7|length }}</td>
                    </tr>
                    <tr>
                        <td>Geïnteresseerd</td>
                        <td>{{ queryset_interested.count }}</td>
                        <td>{{ queryset_interested|filter_recent:7|length }}</td>
                    </tr>
                </tbody>


            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="" class="btn btn-warning disabled">{% trans "Contacteer geïnteresserden via mail" %}</a>
        </div>
    </div>




{% endblock %}