{% extends 'data_analysis/data_analysis_base.html' %}
{% load django_bootstrap_breadcrumbs  %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Collectives" "data_analysis:initiative_interests" %}
{% endblock %}

{% block charts %}
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th></th>
                <th>Geinteresseerden</th>
                <th>Collectiven</th>
            </tr>
            {% for tech_collective in tech_collectives %}
                <tr>
                    <td>
                        <div class="d-flex">
                            {% if tech_collective.technology.icon %}
                                <img class="my-1 mr-2 d-none d-md-block" src="{{ tech_collective.technology.icon.url }}" width="40" height="40">
                            {% endif %}
                            <div class="font-weight-bold my-md-3"> {{ tech_collective.technology.name }}</div>
                        </div>
                    </td>
                    <td>
                        {{ tech_collective.interested_count }}
                        <a href="{% url "data_analysis:initiative_interests" tech_slug=tech_collective.technology.slug %}"
                           class="btn btn-info">
                            Meer details
                        </a>
                    </td>
                    <td>
                        {{ tech_collective.collective_count }}
                        <a href="{% url "data_analysis:collective" tech_slug=tech_collective.technology.slug %}"
                           class="btn btn-info">
                            Meer details
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>



{% endblock %}