{% load page_tags %}
{% load django_extension_tags %}

<body style="font-family: Lato, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;">
    <table style="width:100%">
        <tr height="30">
            <th colspan="3" style="background-color: #39b398; height: 70px; text-align: left;">
                <div style="display: flex; margin: 10px;">
                    <img src="{% static_abs "img/SDW_icon_sm.png" %}" height="50">
                    <div style="margin-left: 10px; margin-top: -3px; font-size: 18px; line-height: 18px; color: #FFF;">
                        <span style="">Samen<br>duurzamer<br>wonen</span>
                    </div>
                </div>
            </th>
        </tr>
        <tr>
            <td width="30"></td>
            <td style="padding: 1em 0;">
                {% render_module page.root_module %}
            </td>
            <td width="30"></td>
        </tr>
        <tr height="20">
            <th colspan="3"></th>
        </tr>
        <tr>
            <td></td>
            <td style="font-size: small; color: #555555; padding-top: 2em">
                {% block mail_footer %}

                {% endblock %}
            </td>
            <td></td>
        </tr>
    </table>
</body>