{% extends 'initiative_enabler/user_zone/collective_base.html' %}
{% load static %}
{% load collective_tags %}
{% load i18n %}

{% block collective_content %}
        {% if not is_interested %}
            <h4>{% trans "Wilt u meedoen?" %}</h4>
            <div class="row">
                <div class="col-sm-8">
                    {% blocktrans trimmed %}
                        Heeft u interesse om mogelijk deel te nemen aan een collectief wanneer deze in uw omgeving word gestart en
                        wilt u hiervoor uitnodigingen ontvangen?
                    {% endblocktrans %}
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-success btn-block"
                            type="submit" form="interest_{{ technology.slug }}">
                        <i class="fas fa-user-check"></i> {% trans "Ja, houd me op de hoogte" %}
                    </button>
                </div>
            </div>
            <hr>
        {% endif %}


    <div>
        <h3>{% trans "Waarom een collectief?" context "collective-initiate-info" %}</h3>
        <p>
            {% blocktrans trimmed context "collective-initiate-info"%}
            Sommige taken zijn niet eenvoudig te ondernemen en vergen een expert. Dit kan echter een flinke klus zijn. Een
            gezamenlijk collectief met de buurt kan veel last wegnemen; u regelt het immers samen. Ook kan er over
            de prijs worden onderhandeld waardoor kosten lager uit vallen als er meer huizen meedoen.
            {% endblocktrans %}
        </p>
        <h3>{% trans "Hoe start ik een collectief?" context "collective-initiate-info" %}</h3>
        <p>
            {% blocktrans trimmed context "collective-initiate-info"%}
            U kunt zelf al een collectief opstarten met uw buren en andere kennisen uit de buurt. Hiervoor kan het stappenplan
            bovenaan deze pagina helpen. Echter kunnen wij u ook in contact brengen met bewoners in uw nabije omgeving die
            hetzelfde advies hebben gekregen uit deze vragenlijst. Dit werkt als volgt:
            {% endblocktrans %}
        </p>
        <p>
            {% blocktrans trimmed context "collective-initiate-info"%}
                Wanneer iemand een collectief aanmaakt versturen wij uitnodigingen aan iedereen die heeft aangegeven interesse
                in een gezamenlijk collectief te hebben. Wanneer zij op deze uitnodiging positief reageren worden de
                contactgegevens van u en de ander uitgewisseld.
            {% endblocktrans %}
        </p>
        <div class="d-flex justify-content-around mb-3">
            <img class="img-responsive" src="{% static 'img/send_on_col_creation.png' %}"
                 width="225" height="125"
                 alt="{% trans "Stuur uitnodigingen bij creatie collectief" context "img-alt" %}">
            <img class="img-responsive" src="{% static 'img/connect_on_approval.png' %}"
                 width="225" height="125"
                 alt="{% trans "Stuur uitnodigingen bij creatie collectief" context "img-alt" %}"">
        </div>
        <p>
            {% blocktrans trimmed context "collective-initiate-info"%}
                Nu u en anderen met elkaar in contact zijn gekomen kunt u hen benaderen via mail, of online
                chat-programma's zoals Whatsapp, Telegram, Zoom of Discord. U kunt nu natuurlijk altijd uit
                een collectief terugtrekken voordat er concrete afspraken zijn gemaakt.
            {% endblocktrans %}
        </p>
        <hr>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-info text-light">
                        <h3>{% trans "Start een collectief" context "collective-initiate-info"%}</h3>
                    </div>
                    {% if has_collective_requirements_in_order %}
                        <div class="card-body">
                            <p class="card-text">
                                {% blocktrans trimmed %}
                                Op dit moment zijn er <b>{{ num_interested }} huishoudens</b> in uw omgeving die interesse hebben in een
                                gezamenlijk collectief.
                                {% endblocktrans %}
                            </p>
                            {% if tech_collective.restrictions.all %}
                                <p>
                                    {% blocktrans trimmed %}
                                        Uw omgeving is eenieder die voldoet aan de volgende voorwaarde:
                                    {% endblocktrans %}
                                <br>
                                {% for name, value in requirement_scopes.items %}
                                    {{ name }}: {{ value }}
                                    <br>
                                {% endfor %}
                                </p>
                            {% endif %}
                            <p>
                                {% blocktrans trimmed %}
                                Wilt u het initiatief nemen om een collectief te starten?
                                {% endblocktrans %}
                            </p>
                            <button class="btn btn-primary btn-lg"
                                    data-toggle="modal" data-target="#start-collectief-1">
                                <i class="fas fa-users"></i> {% trans "Start Collectief" %}
                            </button>
                        </div>
                    {% else %}
                        <div class="card-body">
                            <p>
                                {% if is_interested %}
                                    {% blocktrans trimmed %}
                                    Op dit moment is het onduidelijk waar u woont. U heeft eerder aangegeven waar u woont,
                                    echter heeft u dit antwoord terug getrokken in de vragenlijst.
                                    {% endblocktrans %}
                                {% else %}
                                    {# Give the illusion that one needs to be interested first. It is more instinctive for the user to fix the missing location data #}
                                    {% blocktrans trimmed %}
                                    Om collectieven te kunnen starten dient u eerst interesse te hebben getoond. Dat kunt
                                    u doen door op de knop onderaan deze pagina te doen.
                                    {% endblocktrans %}
                                {% endif %}
                            </p>

                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="d-none">
        {% adjust_interest_form tech_collective new_state=is_interested|invert as interest_form %}
        <form action="{{ interest_form.get_post_url }}?redirect_to={{ request.path }}"
              method="post" id="interest_{{ technology.slug }}">
            {% csrf_token %}
            {% include 'snippets/bootstrap_form.html' with form=interest_form %}
        </form>
    </div>
    {% if is_interested %}
        <div class="alert alert-success">
            <div class="row">
                <div class="col-md-8">
                    <h4>{% trans "Wij houden u op de hoogte" context "collective-info" %} </h4>
                    <div>
                        {% blocktrans trimmed %}
                        U heeft aangegeven open te staan voor uitnodigingen voor collectieve inkoop in de buurt.
                        Wij informeren u hierover per email.
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-warning btn-block align-bottom" data-toggle="modal" data-target="#unsubscribe_modal">
                        <i class="fas fa-user-times"></i> {% trans "Ik heb geen interesse meer" context "collective-action" %}
                    </button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="unsubscribe_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{% trans "Afmelden interesse" context "collective-action" %} {{ tech_collective }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>{% blocktrans trimmed %}Wanneer u zich afmeld kunt u geen nieuwe uitnodigingen ontvangen. Uitnodigingen die
                            u eerder heeft ontvangen of geaccepteerd blijven wel behouden.{% endblocktrans %}</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-warning"
                                type="submit" form="interest_{{ technology.slug }}">
                            <i class="fas fa-user-check"></i> {% trans "Ik heb geen interesse meer" context "collective-action" %}
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            {% trans "Annuleren" context "collective-action" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h4>{% trans "Wilt u meedoen?" context "collective-action" %}</h4>
        <div class="row">
            <div class="col-sm-8">
                {% blocktrans trimmed %}
                Heeft u interesse om mogelijk deel te nemen aan een collectief wanneer deze in uw omgeving word gestart en
                wilt u hiervoor uitnodigingen ontvangen?
                {% endblocktrans %}
            </div>
            <div class="col-sm-4">
                <button class="btn btn-success btn-block"
                        type="submit" form="interest_{{ technology.slug }}">
                    <i class="fas fa-user-check"></i> {% trans "Ja, houd me op de hoogte" context "collective-action" %}
                </button>
            </div>
        </div>
    {% endif %}

    <!--  The modal for collectve creation -->
    <div class="modal fade" id="start-collectief-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        {% trans "Uw contactgegevens" context "collective-action" %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {% blocktrans trimmed %}
                        Wat top dat u een collectief wilt organiseren. Om u in contact te brengen met anderen hebben
                        we wel uw contactgegevens nodig voor hen die op uw uitnodigingen reageren.
                        Zou u zo vriendelijk willen zijn deze in te vullen?
                        {% endblocktrans %}

                    </p>
                    <form id="personal_data_form"
                          onsubmit="copy_form_input(this);
                          $('#start-collectief-1').modal('hide');
                          $('#start-collectief-2').modal('show');
                          return false">
                        {% include "snippets/bootstrap_form.html" with form=create_collective_form.get_personal_data_subform %}
                    </form>

                </div>
                <div class="modal-footer">
                    <button type=submit class="btn btn-primary" form="personal_data_form">
                        {% trans "Verder" context "collective-action" %}
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        {% trans "Sluiten" context "collective-action" %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="start-collectief-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        {% trans "Uw collectief" context "collective-action" %}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        {% blocktrans trimmed %}
                        Bij de uitnodiging om deel te nemen sturen wij een bericht van u mee. Laat weten waarom anderen
                        mee moeten doen met uw collectief.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans trimmed %}
                        U hoeft hierin niet uw contact gegevens te plaatsen. Deze worden na acceptatie al gedeeld.
                        {% endblocktrans %}
                    </p>
                    <form id="create_form" method="post" action="{% url "collectives:start_new" collective_id=tech_collective.id %}">
                        {% csrf_token %}
                        {% include "snippets/bootstrap_form.html" with form=create_collective_form.get_message_form %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" form="create_form">
                        {% trans "Aanmaken en versturen" context "collective-action" %}
                    </button>
                    <button class="btn btn-primary" data-toggle="modal"
                            data-target="#start-collectief-1" data-dismiss="modal">
                        {% trans "Terug" context "collective-action" %}
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        {% trans "Sluiten" context "collective-action" %}
                    </button>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script src="{% static "javascript/clean_data_form.js" %}"></script>
{% endblock %}