{% extends 'initiative_enabler/user_zone/collective_base.html' %}
{% load score_result_tags %}
{% load collective_tags %}
{% load i18n %}

{% block collective_content %}
    <div class="row">
        <div class="col-md-8 pb-2 pb-md-0">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="mr-auto"> {% trans "Initiatiefnemer" context "collective-info" %}</h4>
                    </div>
                </div>
                <div class="card-body">
                    <table class="card-text" style="border-spacing: 50px;">
                        <tr>
                            <td>{% trans "Naam:" context "collective-info" %}</td>
                            <td style="width: 1em;"></td>
                            <td>{{ collective.name|default_if_none:"-" }}</td>
                        </tr>
                        <tr>
                            <td>
                                {% trans "Address:" context "collective-info" %}
                                <span style="width: 5px;"></span>
                            </td>
                            <td></td>
                            <td>{{ collective.address|default_if_none:"-" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Tel:" context "collective-info" %}</td>
                            <td></td>
                            <td>{{ collective.phone_number|default_if_none:"-" }}</td>
                        </tr>
                        <tr>
                            <td>{% trans "Email:" context "collective-info" %}</td>
                            <td></td>
                            <td>{{ collective.inquirer.email|default_if_none:" - " }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="mr-auto"> {% trans "Uw gegevens" context "collective-info" %}</h4>
                        <button class="btn btn-primary btn-sm" style="margin-left: 1em"
                                data-toggle="modal" data-target="#personal-settings">
                            <i class="fas fa-pen"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table class="card-text" style="border-spacing: 50px;">
                        <tr>
                            <td>
                                {% trans "Naam:" context "collective-info" %}
                            </td>
                            <td style="width: 1em;"></td>
                            <td>
                                {{ accepted_rsvp.name|default_if_none:"-" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% trans "Address:" context "collective-info" %}
                                <span style="width: 5px;"></span>
                            </td>
                            <td></td>
                            <td>
                                {{ accepted_rsvp.address|default_if_none:"-" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% trans "Tel:" context "collective-info" %}
                            </td>
                            <td></td>
                            <td>
                                {{ accepted_rsvp.phone_number|default_if_none:"-" }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% trans "Email:" context "collective-info" %}
                            </td>
                            <td></td>
                            <td>
                                {{ accepted_rsvp.inquirer.email|default_if_none:" - " }}
                            </td>
                        </tr>

                    </table>
                </div>
            </div>
            {# Tooltip for personal settings #}
            <div class="modal fade" id="personal-settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">
                                {% trans "Wijzig u gegevens" context "collective-info" %}
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="personal-data-form" method="post"
                                  action="{% url 'collectives:edit_contact_data' collective_id=collective.id %}">
                                {% csrf_token %}
                                {% include "snippets/bootstrap_form.html" with form=personal_data_form%}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" form="personal-data-form">
                                {% trans "Opslaan" context "collective-info" %}
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                {% trans "Sluiten" context "collective-info" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascript %}
{{ block.super }}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}