{% extends 'base_with_body.html' %}
{% load i18n %}

{% block body %}
    <h1 class="row col-12">{% trans "Wijzig uw contactgegevens" context "collective-action" %}</h1>

    <form method="post" class="row">
        {% csrf_token %}
        <div class="col-12">
            {% include "snippets/bootstrap_form.html" %}
            <input type="submit" value="Opslaan" class="btn btn-primary"/>
            <a class="btn btn-secondary" href="{{ collective.get_absolute_url }}">
                {% trans "Annuleren" context "collective-action" %}
            </a>
        </div>
    </form>
{% endblock %}