{% extends 'base_public.html' %}
{% load collective_tags %}
{% load static %}
{% load i18n %}

{% block body %}
    <h1>{% trans "Meer informatie nodig" %}</h1>
    <p>
        {% blocktrans trimmed count form_count=requirement_forms|length %}
            Wat top dat u interesse heeft in collectieve acties in uw omgeving. Echter heeft u een vraag niet
            beantwoord die wij gebruiken om te bepalen
            of een collectieve actie bij u in de buurt plaats vind.
            {% plural %}
            Wat top dat u interesse heeft in collectieve acties in uw omgeving. Echter heeft u enkele vragen niet
            beantwoord die wij gebruiken om te bepalen of een collectieve actie bij u in de buurt plaats vind.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
        Gelieve de vragen hieronder te bantwoorden als u op de hoogte gehouden wilt worden
        {% endblocktrans %}
    </p>
    <form method="post">
        {% csrf_token %}
        {# Render the normal interest form #}
        <div class="d-none">
            {% include "snippets/bootstrap_form.html" %}
        </div>
        {# Render a field that confirms any input is based on a re-visit #}
        <input type="hidden" name="{{ self_submit_field_name }}">

        {# Render all requirement forms #}
        {% for rest_form in requirement_forms %}
            <div class="row">
                <div class="col-12">
                    {% include "snippets/bootstrap_form.html" with form=rest_form %}
                </div>
            </div>
        {% endfor %}

        <!-- Submit or return buttons -->
        <div class="row">
            <div class="col-3">
                <a class="btn btn-secondary btn-block" href="{{ back_url }}">
                    {% trans "Annuleren" context "collective-action" %}
                </a>
            </div>
            <div class="col-4 offset-5">
                <input type="submit" value="{% trans "Ik heb interesse" context "collective-info" %}" class="btn btn-primary btn-block"/>
            </div>
        </div>

    </form>


{% endblock %}