{% extends 'base_public.html' %}
{% load collective_tags %}


{% block body %}
    {% if not advised_techs %}
        Wij kunnen u momenteel niet verder helpen. Ofwel wij hebben niets kunnen adviseren, ofwel wij hebben geen
        actieplannen ontwikkeld voor de techneieken die u werd aanbevolen. Ons excuses hiervoor.
    {% else %}
    <div class="row">
        <div class="col-12 col-md-10">
            {% for technology in advised_techs %}
                {% include 'initiative_enabler/snippets/tech_action_snippet.html' %}
            {% endfor %}
        </div>
        <div class="d-none d-md-inline-block col-2">
            {% if has_not_interested_collectives %}
            <div>
                <!-- Shortcut om alle collectieven gelijk te activeren -->
                <div class="card my-4  text-white bg-primary" style="width: 15rem;">
                    <div class="card-header">
                        Collectief interesse
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                            Wilt u worden geïnformeerd van alle collectieven in uw buurt?
                        </p>
                        <button type="button" class="btn btn-light btn-block" data-toggle="modal" data-target="#intest_in_all_modal">
                            Ja, ik heb interesse
                        </button>
                    </div>
                </div>

                <div class="modal fade" id="intest_in_all_modal" tabindex="-1" role="dialog" aria-labelledby="interest_in_all_modal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Interesse in collectieven</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    Het is mogelijk dat iemand in uw buurt een collectief wil starten voor de aanschaf/
                                    installatie van één van de aanbevolen technieken. Hierbij zoekt hij/zij anderen om
                                    dit samen te regelen en zo eenvoudiger en goedkoper de verbetering toe te passen.
                                </p>
                                <p>
                                    Wilt u geïnformeerd worden wanneer dit gebeurd bij één van de door ons aanbevolen
                                    maatregelen? Druk dan op de knop hieronder. U kunt ook, per maatregel aangeven of u
                                    geïnteresseert bent.
                                </p>
                            </div>
                            <form action="{% url "collectives:interest_in_all" %}" method="post"
                                  id="interest_in_all_form">
                                {% csrf_token %}
                                {% include 'snippets/bootstrap_form.html' with form=interest_form %}
                            </form>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" form="interest_in_all_form">
                                    Ja, ik heb interesse
                                </button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="card my-4" style="width: 15rem;">
                <div class="card-header">
                    Navigatie
                </div>
                <ul class="list-group list-group-flush">
                    {% for technology in advised_techs %}
                        <li class="list-group-item">
                            <a class="btn btn-link btn-block" href="#card-{{ technology.name }}">
                                {{ technology.name }}
                                {% with open_invites=inquirer|get_open_invitations:technology %}
                                    {% if open_invites.count > 0 %}
                                        <span class="badge badge-pill badge-primary">{{ open_invites.count }}</span>
                                    {% endif %}
                                {% endwith %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {# Modal for open invitations for personal settings #}
        <div class="modal fade" id="invitation_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Uitnodigingen
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            U heeft <span id="modal-invite-count"></span> open uitnodigingen
                        </p>
                        <div id="modal-invite-list">
                            <!-- Content is filled in automatically when this modal is shown -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>

        {# Modal for already created or joined collectives #}
        <div class="modal fade" id="collectives_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Deelgenomen collectieve acties in de buurt
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-collectives-content">
                        <!-- Content is filled in automatically when this modal is shown -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endif %}

{% endblock %}


{% block javascript %}
    {{ block.super }}
    <script src="{% static "javascript/update_invitations_in_modal.js" %}"></script>
    <script src="{% static "javascript/update_collectives_in_modal.js" %}"></script>
{% endblock %}