.page_edit_overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    padding-right: 30px;
    z-index: 100000;

}

.page_edit_overlay>div{
    border: 1px solid #ffffff;
    height:100%;
}

.page_edit_overlay.select>div{
    border-color: #6b9430;
}

.page_edit_overlay>div:hover{
    border-color: #6b9430;
}


.pe_main{
    padding-right: 400px;
}

.pe_sidebar{
    width: 400px;
    background-color: #3E3F3A;
    color: #FFF;
    height: 90%;
    position: fixed;
    top: 8%;
    bottom: 5%;
    right: 0;
    z-index: 10;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

    border-radius: 10px 0 0 10px;
}