{% extends 'base_with_body.html' %}

{% block body %}
    <h1>Inquiries</h1>
    <div class="col-12 table-responsive">
        <table class="table table-hover">
            {# Table header #}
            <thead>
            <tr class="">
                <td style="min-width: 10rem">Id</td>
                <td style="min-width: 15rem">E-mail</td>
                <td style="min-width: 15rem">code</td>
                <td style="min-width: 15rem">Pagina</td>
                <td style="min-width: 15rem">Link</td>
            </tr>
            </thead>

            <tbody>
            {# Table rows #}
            {% for inquiry in object_list %}
                <tr>
                    <td>
                        {{ inquiry.id }}
                    </td>
                    <td>
                        {{ inquiry.inquirer.email }}
                    </td>
                    <td>
                        {{ inquiry.inquirer.get_inquiry_code }}
                    </td>
                    <td>
                        {{ inquiry.current_page }}
                    </td>
                    <td>
                        <a href="{% url 'analysis_detail' pk=inquiry.pk %}"
                           class="btn btn-block btn-info">Bekijk details </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}