<div class="pe_filler">
    <div class="pe_filler_insert_module_outer">
        <input type="radio" name="insert_filler_radio" id="{{ unique_radio_id }}"
               class="pe_filler_insert_module_radio">
        <label name="insert_module_filler" for="{{ unique_radio_id }}"
               class="pe_filler_insert_module_inner bg-light"
               data-insert-position="{{ insert_position }}">
            <span class="unchecked">
                Click to insert model at this location
            </span>
            <span class="checked">
                Module will be inserted here
            </span>
        </label>
        <div class="filled_insert_icon bg-light">

        </div>
    </div>
</div>


