<div data-toggle="buttons">
    <div class="btn-group-horizontal-md btn-group-toggle" >
    {% for group, options, index in widget.optgroups %}
        {% for widget in options %}
            <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %} class="btn btn-outline-primary question_multi
                {% if widget.attrs.checked %}
                    active
                {% endif %}"
                style="{% if widget.answer_height %}height:{{ widget.answer_height }}{% endif %}">

                {% if widget.image %}
                    <div class="w-100 h-75" style="
                            background-image: url({{widget.image.url}});
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center">

                    </div>
                {% endif %}

                <input type="{{ widget.type }}" name="{{ widget.name }}"
                        {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
                        {% include "django/forms/widgets/attrs.html" %}>


                <div class="d-flex">
                    {{ widget.label }}
                </div>

                <div class="visual"></div>

            </label>
        {% endfor %}

    {% endfor %}

    </div>
    {% if not widget.required %}
        <label for="{{ widget.attrs.id }}" class="btn btn-outline-secondary float-right
            {% if widget.none_selected %}
                active
            {% endif %}">

            <input type="{{ widget.type }}" name="{{ widget.name }}"
                   class="d-none"
                   value="{{ widget.none_name }}" id="{{ widget.attrs.id }}"
                    {% if widget.none_selected %} checked {% endif %}>

            Weet ik niet/ wil ik niet delen
        </label>
    {% endif %}
</div>