{% extends extends %}
{% load page_tags %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if breadcrumb_trail_template %}
        {% include breadcrumb_trail_template %}
    {% endif %}
    {% breadcrumb "Edit page" "edit_page" %}
{% endblock %}

{% block head %}
    <link href="{% static "css/page_edit.css" %}" rel="stylesheet">
{% endblock %}

{% block body-containerless %}

    <div class="container-fluid my-3">
        <div class="row">
            <div class="pe_main col-sm-12">
                <div class="container">
                    {% block page %}
                        {% render_page page %}
                    {% endblock %}
                    {% block bottom_addition %}
                    {% endblock %}
                </div>
            </div>
            <div class="pe_sidebar">
                <div>
                    <div class="row">
                        <div class="h2 col-12 my-0">
                            {% block sidebar_title %}

                            {% endblock %}
                        </div>
                        <hr class="col-12 border-white my-2">
                    </div>
                    {% block sidebar_content %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

    {% if spacer.script_name %}
        <script src="{% static spacer.script_name %}"></script>
    {% endif %}
{% endblock %}

{% block nav-bar-options %}
    {% for name, url in header_buttons.items %}
        <a class="btn btn-secondary
            {% if not url %} disabled {% endif %}
            " href="{{ url }}">
            {{ name }}
        </a>
    {% endfor %}
{% endblock %}