{% extends 'base_with_body.html' %}
{% load page_tags %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if breadcrumb_trail_template %}
        {% include breadcrumb_trail_template %}
    {% endif %}
    {% breadcrumb "View page" "setup:home" %}
{% endblock %}

{% block body %}
    {% autoescape off %}
        {% render_page page %}
    {% endautoescape %}
{% endblock %}

{% block nav-bar-options %}
    {% for name, url in header_buttons.items %}
        <a class="btn btn-secondary
            {% if not url %} disabled {% endif %}
            " href="{{ url }}">
            {{ name }}
        </a>
    {% endfor %}
{% endblock %}

