{% extends 'pagedisplay/page_edit_base.html' %}

{% block module_decor %}
    <a class="page_edit_overlay" href="{% url 'edit_page' page_id=page.id module_id=module.id %}">

    </a>
{% endblock %}


{% block module_details %}
    {% for key, value in selected_module.get_fixed_properties %}
        <div class="row">
            <div class="col-4">{{ key }}</div>
            <div class="col-8">{{ value }}</div>
        </div>

    {% endfor %}
{% endblock %}


{% block module_options %}
    {% include "snippets/bootstrap_form.html" %}
{% endblock %}