{% extends 'pagedisplay/page_edit_base.html' %}

{% block module_decor %}
    {% if selected_module.id == module.id %}
        <a class="page_edit_overlay select">
            <div></div>
        </a>
    {% endif %}
{% endblock %}

{% block sidebar_title %}
    Module opties
{% endblock %}

{% block sidebar_content %}
    <div class="row">
        <div class="h4 col-12">
            Details
        </div>
        <div class="col-12">
            {% for key, value in selected_module.get_fixed_properties %}
                <div class="row">
                    <div class="col-4">{{ key }}</div>
                    <div class="col-8">{{ value }}</div>
                </div>

            {% endfor %}
        </div>
        <hr class="col-12 border-white my-2">
    </div>

    <div class="row">
        <form class="col-12" method="post" id="delete_form">
            {% csrf_token %}
            <p>Weet je zeker dat je dit wilt verwijderen?</p>
        </form>
        <div class="btn-group col-12" role="group" aria-label="Opties">
            <input type="submit" class="btn btn-success" value="Ja, verwijderen" form="delete_form">
            <a class="btn btn-secondary" href="{% url 'edit_page' page_id=page_id module_id=selected_module.id %}">Nee, terug</a>
        </div>
    </div>
{% endblock %}