{% extends 'pagedisplay/page_edit_base.html' %}
{% load page_tags %}

{% block module_decor %}

{% endblock %}

{% block bottom_addition %}

{% endblock %}


{% block sidebar_title %}
    Add module
{% endblock %}

{% block sidebar_content %}
    <form class="row" {% if module_form %}method="post"{% endif %}>
        {% if module_form %}
            {% csrf_token %}
        {% endif %}

        <div class="col-12">
            {% include "snippets/bootstrap_form.html" with form=root_form %}
        </div>
        <div class="col-12">
            {% include "snippets/bootstrap_form.html" with form=module_form %}
        </div>
        <hr class="col-12 border-white my-2">
        <div class="btn-group col-12" role="group" aria-label="Opties">
            {% if module_form %}
                <input type="submit" class="btn btn-success" value="Toevoegen">
                <a class="btn btn-secondary" href="{% ns_url 'edit_page_add' container_id=container.id %}">Terug</a>
            {% else %}
                <input type="submit" class="btn btn-primary" value="Volgende">
                <a class="btn btn-secondary" href="{% ns_url 'edit_page' %}">Terug</a>
            {% endif %}
        </div>
    </form>
{% endblock %}