{% extends 'pagedisplay/page_edit_base.html' %}

{% block module_decor %}
    {% if selected_module.id == module.id %}
        <a class="page_edit_overlay select">
            <div></div>
        </a>
    {% endif %}
{% endblock %}

{% block sidebar_title %}
    Module opties
{% endblock %}

{% block sidebar_content %}
    <div class="row">
        <div class="h4 col-12">
            Details
        </div>
        <div class="col-12">
            {% for key, value in selected_module.get_fixed_properties %}
                <div class="row">
                    <div class="col-4">{{ key }}</div>
                    <div class="col-8">{{ value }}</div>
                </div>

            {% endfor %}
        </div>
        <hr class="col-12 border-white my-2">
    </div>

    <div class="row">
        <form class="col-12" method="post" id="property_form" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "snippets/bootstrap_form.html" %}
        </form>
        <form class="col-12" method="post" id="del_form"
              action="{% url 'edit_page_delete_module' inf_id=page.id module_id=selected_module.id %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger col-12 col-md-9 offset-md-3" value="Verwijder" form="del_form">
        </form>
        <hr class="col-12 border-white my-2">
        <div class="btn-group col-12" role="group" aria-label="Opties">
            <input type="submit" class="btn btn-success" value="Opslaan" form="property_form">
            <a class="btn btn-secondary" href="{% url 'edit_page' inf_id=page.id %}">Terug</a>
        </div>
    </div>
{% endblock %}