{% extends 'base_with_body.html' %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Setup" "setup:home" %}
    {% breadcrumb "Mail tasks" "setup:mailings:overview" %}
    {% breadcrumb  object.name "" %}
    {% breadcrumb "Deactivate" "" %}

{% endblock %}

{% block body %}
    <h1>Deactiveer {{ object.name }}</h1>
    <form method="post">{% csrf_token %}
        Weet je zeker dat je deze mail task wilt deactiveren?
        {% include "snippets/bootstrap_form.html" %}
        <div class="row">
            <div class="col-md-5 btn-group ">
                <input class="btn-warning btn" type="submit" value="Ja, deactiveer deze taak">

                <a href="{% url 'setup:mailings:overview' %}" class="btn btn-secondary">
                    Annuleren
                </a>
            </div>
        </div>
    </form>
{% endblock %}