{% extends 'base_with_body.html' %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Setup" "setup:home" %}
    {% breadcrumb "Mail tasks" "setup:mailings:overview" %}
    {% if object %}
        {% breadcrumb  object.name "" %}
        {% breadcrumb "Update" "" %}
    {% else %}
        {% breadcrumb "Add" "" %}
    {% endif %}

{% endblock %}

{% block body %}
    <form method="post">{% csrf_token %}
        {% include "snippets/bootstrap_form.html" %}
        <div class="row">
            <div class="offset-3 col-9 btn-group ">
                {% if object %}
                    <input class="btn-primary btn" type="submit" value="Save">
                {% else %}
                    <input class="btn-primary btn" type="submit" value="Create">
                {% endif %}
                <a href="{% url 'setup:mailings:overview' %}" class="btn btn-secondary">
                    Annuleren
                </a>
            </div>
        </div>
    </form>
{% endblock %}