{% extends 'base_with_body.html' %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Setup" "setup:home" %}
    {% breadcrumb "Mail tasks" "setup:mailings:overview" %}
    {% breadcrumb  object.name "" %}
    {% breadcrumb "Deactivate" "" %}

{% endblock %}

{% block body %}
    <h1>Activeer {{ object.name }}</h1>
    <form method="post">{% csrf_token %}
        Weet je zeker dat je deze mail task wilt activeren?
        Je kan de settings niet meer wijzigen tot je het deactiveert.
        De inhoud van de mail kan wel nog worden gewijzigd.
        {% include "snippets/bootstrap_form.html" %}
        <div class="row">
            <div class="col-md-5 btn-group ">
                <input class="btn-success btn" type="submit" value="Ja, activeer deze taak">

                <a href="{% url 'setup:mailings:overview' %}" class="btn btn-secondary">
                    Annuleren
                </a>
            </div>
        </div>
    </form>
{% endblock %}