{% extends 'base_with_body.html' %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Setup" "setup:home" %}
    {% breadcrumb "General pages" "setup:general:list" %}

{% endblock %}

{% block body %}
    <h1>General site pages</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr class="font-weight-bold">
                <td style="min-width: 10rem">Name</td>
                <td style="">In footer</td>
                <td style="min-width: 10rem">Settings</td>
                <td style="min-width: 15rem;">Page</td>
            </tr>
            </thead>
            <tbody>
            {% for page in pages %}
                <tr>
                    <td>
                        <b>{{ page.name }}</b><br>{{ page.description }}
                    </td>
                    <td>
                        {{ page.in_footer }}
                    </td>
                    <td>
                        <a href="{% url 'setup:general:edit' slug=page.slug %}" class="btn btn-primary btn-block">
                            Settings
                        </a>
                    </td>
                    <td>
                        <div class="btn-group w-100" role="group" aria-label="Opties">
                            <a href="{% url 'setup:general:pages:view_page' slug=page.slug %}" class="btn btn-secondary">
                                View page
                            </a>
                            <a href="{% url 'setup:general:pages:edit_page' slug=page.slug %}" class="btn btn-warning">
                                Edit page
                            </a>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <td rowspan="3">
                    No pages yet
                </td>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-block btn-primary" href="{% url "setup:general:add" %}">Add new page</a>
    </div>

{% endblock %}