{% extends 'inquirer_settings/inquirer_settings_base.html' %}
{% load inquirer_tags %}

{% block contents %}
    <h3>Mails</h3>
    <p>Wij versturen u e-mails wanneer:</p>
    <ul>
        <li>
            Enkele dagen verstreken zijn en uw vragenlijst nog niet is afgerond
        </li>
        <li>
            Wij wijzigingen aanbrengen aan ons privacy-beleid of gebruikersovereenkomst
        </li>
        <li>
            U heeft aangegeven op de hoogte wil worden gehouden van
            <a href="{% url 'inquirer_settings:tech_cols' %}">collectieve inkoop acties</a> in uw omgeving
        </li>
    </ul>
    {% if current_pending %}
        <div class="alert alert-warning" role="alert">
            Dit e-mail adress is nog niet bevestigd. Check de inbox van uw e-mail voor een e-mail van ons om uw
            e-mail adres te bevestigen. Zolang deze niet bevestigd is sturen we e-mails naar uw vorige bevestigde
            e-mail adres ({{ inquirer.email }})
        </div>
    {% elif not inquirer.email_validated %}
        {% if inquirer|has_pending_email_address %}
            <div class="alert alert-warning" role="alert">
                Dit e-mail adress is nog niet bevestigd. Check de inbox van uw e-mail voor een e-mail van ons om uw
                e-mail adres te bevestigen.
            </div>
        {% elif not inquirer.email %}

        {% else %}
            <div class="alert alert-warning" role="alert">
                <div class="row">
                    <div class="col-8">
                        Uw e-mail is nog niet geverifieerd. Druk hier om uw e-mail adress te verifiëren:
                    </div>
                    <div class="col-4">
                        <button type="button" class="btn btn-block btn-primary">
                            Stuur bevestiging
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if inquirer.email %}
    <p>
        Wij hebben het volgende mail-adress van u:
    </p>
    {% else %}
    <p>Wij hebben nog geen e-mail adres van u. Vul hieronder uw e-mail adres in</p>
    {% endif %}
    <form method="post" class="" id="email_form">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" %}

    </form>


    <input type="submit" value="Opslaan" class="btn btn-primary" form="email_form"/>

{% endblock %}