{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap_breadcrumbs  %}


{% block body_content %}
    {% include 'snippet_navbar.html' %}
    {% block breadcrumbs %}
    {% endblock %}

    {% if user.is_authenticated %}
        {% render_breadcrumbs %}
    {% endif %}
    {% if messages %}
        {% include 'snippets/snippet_message_header.html' %}
    {% endif %}

    {% block outside-container-content-top %}

    {% endblock %}

    {% block body-containerless %}
        <div class="container my-3">
            {% block body %}{% endblock %}
        </div>
    {% endblock %}

    {% block footer %}

    {% endblock %}
{% endblock body_content %}