{% extends 'base_with_body.html' %}
{% load footer_tags %}
{% load i18n %}

{% block nav-bar-options %}
    {# Display the step progress #}
    {% include "snippets/three_steps_bar_snippet.html" %}
{% endblock %}

{% block body-containerless %}

    <div class="container my-3" style="min-height: 70vh;">
        {% block body %}{% endblock %}
    </div>
{% endblock %}

{% block footer %}
    <div class="py-4"></div>
    <div class="bg-dark text-light d-flex" style="">
        <div class="container my-3">
            <div class="row justify-content-center">
                <div class="col-auto h5">
                    Samen Duurzamer Wonen
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <p><small>
                        {% blocktrans trimmed %}
                            Samen Duurzamer Wonen is onderdeel van het ENLEB project, een Vlaams/Nederlands
                            samenwerkingsverband met als doel mensen aan te sporen in het verduurzamen van de woning.
                            <br>
                            Het ENLEB project is gesubsidieerd door Interreg Nederland-Vlaanderen en de provincie
                            Noord-Brabant.
                        {% endblocktrans %}
                    </small></p>
                    <a href="{% url 'general:partner_page' %}"><small>
                    {% trans "Klik hier voor meer informatie over ons en het ENLEB project." %}
                    </small></a>
                </div>

                <div class="col-12 d-md-none" style="height: 0.5em;"></div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12 col-lg-9">
                            <div style="width: 100%; height: 100%;
                                    background-size: contain; background-repeat: no-repeat; background-position: center top;
                                    background-image: url({% static "img/sponsors/Interreg_HQish.png" %});">
                                <div class="d-none d-lg-flex" style="height: 9em; width: 0em;"></div>
                                <div class="d-none d-md-flex d-lg-none" style="height: 9em; width: 0em;"></div>
                                <div class="d-flex d-md-none" style="height: 7em; width: 0em;"></div>
                            </div>
                        </div>
                        <div class="col-6 d-flex d-lg-none">
                            <div style="width: 70%; height: 100%;
                                    background-size: contain; background-repeat: no-repeat; background-position: center center;
                                    background-image: url({% static "img/sponsors/Provincie Noord-brabant.jpg" %}); margin: auto;">
                            </div>
                        </div>

                        <div class="col-6 col-lg-3">
                            <div style="width: 80%; height: 80%;
                                    background-size: contain; background-repeat: no-repeat; background-position: center;
                                    background-image: url({% static "img/sponsors/ENLEB.png" %}); margin: auto;">
                                <div class="d-none d-lg-flex" style="height: 9em; width: 0em;"></div>
                                <div class="d-none d-md-flex d-lg-none" style="height: 8em; width: 0em;"></div>
                                <div class="d-flex d-sm-none" style="height: 4em; width: 0em;"></div>
                                <div class="d-none d-sm-flex d-md-none" style="height: 8em; width: 0em;"></div>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div style="width: 60%; height: 100%;
                                    background-size: contain; background-repeat: no-repeat; background-position: center top;
                                    background-image: url({% static "img/sponsors/Provincie Noord-brabant.jpg" %});">
                                <div class="" style="height: 2em; width: 0em;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="border-light">
            <div class="row justify-content-center">
                <div class="col-auto">
                    {% general_pages is_part_of_footer=True as general_pages %}
                    {% for page in general_pages %}
                        <i>
                        <a class="px-2 text-light"
                           href="{{ page.get_absolute_url }}">
                            {{ page.name }}
                        </a></i>
                        {% if not forloop.last %}
                        -
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div style="height: 4em;"></div>
        </div>
    </div>
{% endblock %}