{% extends 'base.html' %}
{% load static %}


{% block body_content %}
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand navbar-light my-0 py-0">
            <a href="{% url 'index' %}" class="navbar-brand mr-auto">
                <span class="h3 d-none d-lg-inline"
                      style="line-height: 40px; vertical-align: middle; margin: 0 0 0 10px"> ENLEB</span>
                <span class="h5 d-none d-md-inline d-lg-none"
                      style="line-height: 40px; vertical-align: middle; margin: 0 0 0 10px"> ENLEB</span>
            </a>
            <div class="mr-auto">
                {% block nav-bar-options %}

                {% endblock %}
            </div>

            {% with justify="d-flex justify-content-between align-items-center" %}

                <span class="navbar-text text-right px-2">
                Logged in as: {{ user }}<br>
                </span>
                    <div class="navbar-nav">
                        <div class="nav-item dropdown">
                            {# (mb-0 is needed to cancel the margin that gets added by h4) #}
                            <a class="nav-link dropdown-toggle h4 mb-0" href="#" data-toggle="dropdown">
                                <i class="fas fa-info"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"
                                   href="{% url 'page_overview' %}">
                                    Pages
                                </a>
                                <a class="dropdown-item"
                                   href="{% url 'analysis_overview' %}">
                                    Result Analysis
                                </a>
                                <a class="dropdown-item"
                                   href="{% url 'admin:index' %}">
                                    Admin Panel
                                </a>
                            </div>
                        </div>
                    </div>
            {% endwith %}
        </nav>
    {% endif %}
    {% if messages %}
        {% include 'snippets/snippet_message_header.html' %}
    {% endif %}

    {% block body-containerless %}
        <div class="container my-3">
            {% block body %}{% endblock %}
        </div>
    {% endblock %}
{% endblock body_content %}