{% load score_result_tags %}
{% load static %}

<div class="table-responsive">
<table class="table tab border-0">
    <tbody>
        <tr>
            {% for technology in techs %}
                <td class="m-0 p-0 border-0">
                    <button onclick="toggleTab(event, 'tech_{{ technology.id }}')" class="tablinks
                    {% with technology|get_tech_score:inquiry as score %}
                        {% if score == technology.TECH_SUCCESS %} accept
                        {% elif score == technology.TECH_FAIL %} deny
                        {% elif score == technology.TECH_VARIES %} maybe
                        {% endif %}
                    {% endwith %}
                    ">
                    {% if technology.icon %}
                        <img src="{{ technology.icon.url }}" width="50" height="50">
                    {% endif %}
                    </button>
                </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
</div>

{% for technology in techs %}
    <div id="tech_{{ technology.id }}" class="tabcontent">
        {% include "inquiry_pages/inquiry_snippets/snippet_tech_group_info.html" %}

        {% if DISPLAY_TECH_SCORES %}
            <h4>Display progress scores</h4>

            <table class="table table-hover">
                {# Table header #}
                <thead>
                    <tr class="">
                        <td style="min-width: 10rem">Name</td>
                        <td style="min-width: 10rem;">Score</td>
                        <td>Threshold approve</td>
                        <td>Threshold deny</td>
                    </tr>
                </thead>

                <tbody>
                    {% for tech_score_link in technology.techscorelink_set.all %}
                        <tr>
                            <td>
                                {{ tech_score_link.score_declaration.name }}
                            </td>
                            <td>
                                {% with tech_score_link|get_as_score:inquiry as score %}
                                    {{ score.score }}
                                {% endwith %}
                            </td>
                            <td>
                                {{ tech_score_link.score_threshold_approve }}
                            </td>
                            <td>
                                {{ tech_score_link.score_threshold_deny }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endfor %}

<script src="{% static "javascript/tabs_script.js" %}"></script>