{% extends 'base_with_body.html' %}

{% block body %}
    <h1 class="row col-12">Questions</h1>
    <form method="post" class="row">
        {% csrf_token %}
        <div class="col-12">
            {% include "snippets/bootstrap_form.html" %}
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    {% if has_prev_page %}
                        <input type="submit" name="prev" value="Terug" class="btn btn-block btn-outline-primary"/>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if has_next_page %}
                        <input type="submit" name="next" value="Verder" class="btn btn-block btn-primary"/>
                    {% else %}
                        <input type="submit" name="next" value="Voltooi" class="btn btn-block btn-success"/>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>


    <h1 class="mt-4">Progress</h1>
    {% include "progress_tabs.html" %}
{% endblock %}

