{% load i18n %}
{% load score_result_tags %}

    <nav class="navbar navbar-expand navbar-dark bg-primary my-0 py-0">
        <a href="{% url 'index' %}" class="navbar-brand mr-auto">
            <img class="sdw_image" src="{% static "img/Samen Duurzamer Wonen - wit - 300ppi.png" %}" height="50">
            <!--
            <span class="h3 d-none d-lg-inline"
                  style="line-height: 40px; vertical-align: middle; margin: 0 0 0 10px"> {{ SITE_DISPLAY_NAME }}</span>
            <span class="h5 d-none d-md-inline d-lg-none"
                  style="line-height: 40px; vertical-align: middle; margin: 0 0 0 10px"> {{ SITE_DISPLAY_NAME }}</span>
                  -->
        </a>
        <div class="mr-auto">
            {% block nav-bar-options %}

            {% endblock %}
        </div>

        {% with justify="d-flex justify-content-between align-items-center" %}

            {% if user.is_authenticated %}
            <span class="navbar-text text-right px-2">
                {% trans "Logged in as" %}: {{ user }}<br>
                Code: {{ inquirer.get_inquiry_code }}

            </span>
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    {# (mb-0 is needed to cancel the margin that gets added by h4) #}
                    <a class="nav-link dropdown-toggle h4 mb-0" href="#" data-toggle="dropdown">
                        <i class="fas fa-info"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item"
                           href="{% url 'setup:home' %}">
                            <i class="fas fa-cog"></i> {% trans "Setup" %}
                        </a>
                        {% if perms.auth.can_access_data_analysis_pages %}
                            <a class="dropdown-item"
                               href="{% url 'data_analysis:overview' %}">
                                <i class="fas fa-chart-pie"></i> {% trans "Data analysis" %}
                            </a>
                        {% endif %}
                        {% if perms.auth.can_access_entry_analysis %}
                            <a class="dropdown-item"
                               href="{% url 'analysis_overview' %}">
                                <i class="fas fa-address-book"></i> {% trans "Entry Analysis" %}
                            </a>
                        {% endif %}
                        {% if user.is_staff %}
                            <a class="dropdown-item"
                               href="{% url 'admin:index' %}">
                                <i class="fas fa-archive"></i> {% trans "Admin Panel" %}
                            </a>
                        {% endif %}
                        <hr>
                        <a class="dropdown-item"
                           href="{% url 'general:logout' %}">
                            <i class="fas fa-sign-out-alt"></i> {% trans "Log Out" %}
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endwith %}
    </nav>