{% extends 'base_with_body.html' %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Setup" "setup:home" %}
    {% breadcrumb "Queued Tasks overview" "setup:mailings:overview" %}

{% endblock %}

{% block body %}
    <h1>Currently Processing queue</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr class="font-weight-bold">
                <td style="min-width: 10rem">Name</td>
                <td>Added on</td>
                <td>Info</td>
                <td style="">Status</td>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        {{ task }}<br>
                        <small>{{ task.get_as_child.csv_file.name }}</small>
                    </td>
                    <td>
                        {{ task.added_on|date:'j/n/y H:i' }}
                    </td>
                    <td>
                        {% if task.completed_on %}
                            Completed: {{ task.completed_on|date:'j/n/y H:i' }}<br>
                            {{ task.feedback }}
                        {% endif %}
                    </td>
                    <td>
                        {% if task.state == task.PROCESSING %}
                            {{ task.progress }}
                        {% else %}
                            {{ task.get_state_display }}
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <td rowspan="3">
                    No pages yet
                </td>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include "snippets/paginator.html" with data_objects=tasks %}

{% endblock %}