{% load score_result_tags %}

<h3>{{ technology.name }}</h3>
<p>
    {{ technology.short_text }}
    {% with technology.get_absolute_url as url %}
        {% if url %}
            <a target="_blank" rel="noopener noreferrer" href="{{ url }}" > (learn more) </a>
        {% endif %}
    {% endwith %}
</p>

{% if technology.sub_technologies.exists %}
    {% for tech_score in technology|get_tech_scores:inquiry %}
        {% for note in tech_score|get_score_notes:technology %}
            <p>
                {{ note|get_prepped_text:inquiry }}
            </p>
        {% endfor %}
    {% endfor %}

    Er zijn verscheidene maatregelen die mogelijk zijn. Hieronder zetten wij uit welke maatregelen wij aanraden:
    {% with technology|create_sub_tech_accordion_name as accordion_id %}
        <div id="{{ accordion_id }}">
            {% for subtech in technology.sub_technologies.all %}
                {% with subtech|get_subtech_html_id:technology as tech_id %}
                    {% include "inquiry_pages/inquiry_snippets/snippet_tech_group_accordion.html" with is_subtech=1 technology=subtech extra_card_class='text-dark' extra_header_class='' %}
                {% endwith %}
            {% endfor %}

        </div>
    {% endwith %}
{% else %}
    <h4>Ons advies: {{ technology|get_tech_score:inquiry|get_text_base_score }}</h4>
    {% for tech_score in technology|get_tech_scores:inquiry %}
        {% for note in tech_score|get_score_notes:technology %}
            <p>
                {{ note|get_prepped_text:inquiry }}
            </p>
        {% endfor %}
    {% endfor %}
{% endif %}