{% extends 'base_with_body.html' %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Setup" "setup:home" %}
    {% breadcrumb "Technologies" "setup:tech_list" %}
    {% breadcrumb "Add InfoPage" "setup:tech_list" %}
{% endblock %}

{% block body %}
    <form method="post">{% csrf_token %}
        {% include "snippets/bootstrap_form.html" %}
        <div class="row">
            <div class="offset-3 col-9 btn-group ">
                <input class="btn-primary btn" type="submit" value="Create">
                <a href="{% url 'setup:tech_list' %}" class="btn btn-secondary">
                    Annuleren
                </a>
            </div>
        </div>
    </form>
{% endblock %}