{% extends 'base_with_body.html' %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Setup" "setup:home" %}

{% endblock %}


{% block body %}
    <h1>Pages</h1>
    <a href="{% url 'setup:tech_list' %}" class="btn btn-primary btn-block">
        Technology pages
    </a>
    <a href="{% url 'setup:reports:reports_overview' %}" class="btn btn-block btn-primary">
        Report pages
    </a>
    <a href="{% url 'setup:general_pages_list' %}" class="btn btn-block btn-primary">
        General information pages
    </a>
    <a href="" class="btn btn-block">
        Questionaire pages
    </a>
{% endblock %}