{% extends 'base_with_body.html' %}
{% load local_data_storage_tags %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Setup" "setup:home" %}
    {% breadcrumb "Local Data Storage" "setup:local_data_storage:data_domain_overview" %}
    {% breadcrumb data_table.name "setup:local_data_storage:data_table_info" table_slug=data_table.slug %}
{% endblock %}

{% block body %}
    <h1>Data Table: {{ data_table.name}}</h1>
    <div class="row">
        <div class="col-md-3">
            Description:
        </div>
        <div class="col-md-9">
            {{ data_table.description }}
        </div>
    </div>
    <a href="{% url "setup:local_data_storage:data_table_edit" table_slug=data_table.slug %}" class="btn btn-primary">
        Edit
    </a>
    <br>

    <h2>Data</h2>
    <div class="text-right">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="{% url "setup:local_data_storage:add_data_entry" table_slug=data_table.slug %}"
               class="btn btn-primary"> Add new data entry
            </a>
            <a href="{% url "setup:local_data_storage:add_data_entries_csv" table_slug=data_table.slug %}"
               class="btn btn-secondary"> Import CSV
            </a>
        </div>
        {% if perms.local_data_storage.migrate_datatable %}
            <a href="{% url "setup:local_data_storage:data_table_migrate" table_slug=data_table.slug %}" class="btn btn-danger">
                Migrate
            </a>
        {% endif %}
    </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            {% with data_table.datacolumn_set.all as columns %}
                <tr class="font-weight-bold">
                    <td>
                        {{ data_table.key_column_name }}
                        {% if data_table.key_regex %}<br><small>re:({{ data_table.key_regex }})</small>{% endif %}
                    </td>
                    {% for data_column in columns %}
                        <td style="min-width: 10rem">{{ data_column.name }}
                            <br><small>({{ data_column|get_column_type_shorthand }})</small>
                        </td>
                    {% endfor %}
                    <td>
                        Opties
                    </td>
                </tr>
                <tr>
                    <form method="get" action="">
                    <td>
                        {% render_filter_field filter_form class='form-control py-0' %}
                    </td>
                    {% for data_column in columns %}
                        <td>
                            {% render_filter_field filter_form column=data_column class='form-control' %}
                        </td>
                    {% endfor %}
                    <td>
                        <input class="btn-primary btn" type="submit" value="Filter">
                    </td>
                    </form>
                </tr>
                </thead>
                <tbody>
                {% for entry in data_objects %}
                    <tr>
                        <td>
                            {{ entry.get_key }}
                        </td>
                        {% for data_column in data_table.datacolumn_set.all %}
                            <td>
                                {{ entry|get_column_value:data_column }}
                            </td>
                        {% endfor %}
                        <td>
                            <a href="{% url "setup:local_data_storage:update_data_entry" table_slug=data_table.slug data_id=entry.id %}" class="btn btn-info">
                                Edit
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endwith %}
        </table>
        {% include "snippets/paginator.html" with data_objects=objects_list %}
    </div>

{% endblock %}