{% extends 'base_with_body.html' %}

{% load django_bootstrap_breadcrumbs  %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Setup" "setup:home" %}
    {% breadcrumb "Local Data Storage" "setup:local_data_storage:data_domain_overview" %}
    {% breadcrumb data_table.name "setup:local_data_storage:data_table_info" table_slug=data_table.slug %}
    {% breadcrumb "Add CSV data" "" %}

{% endblock %}

{% block body %}
    <h1>Add entries to {{ data_table.name }}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "snippets/bootstrap_form.html" %}
        <div class="row">
            <div class="offset-3 col-9 btn-group ">
                <input class="btn-primary btn" type="submit" value="Add entry">
                <a href="{{ data_table.get_absolute_url }}" class="btn btn-secondary">
                    Annuleren
                </a>
            </div>
        </div>
    </form>
{% endblock %}