{% extends 'base_with_body.html' %}
{% load page_tags %}

{% block head %}
    <link href="{% static "css/page_edit.css" %}" rel="stylesheet">
{% endblock %}

{% block body-containerless %}

    <div class="container-fluid my-3">
        <div class="row">
            <div class="pe_main col-sm-12">
                <div class="container">
                    {% autoescape off %}
                        {% block page %}
                            {% for module in modules %}
                                <div class="row">
                                    <div class="col-12">
                                        {% block module_decor %}
                                        {% endblock %}

                                        {% render_module module request %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    {% endautoescape %}
                    {% block bottom_addition %}
                    {% endblock %}
                </div>
            </div>
            <div class="pe_sidebar">

                <div>
                    <div class="row">
                        <div class="h2 col-12 my-0">
                            {% block sidebar_title %}

                            {% endblock %}
                        </div>
                        <hr class="col-12 border-white my-2">
                    </div>
                    {% block sidebar_content %}

                    {% endblock %}



                </div>
            </div>

        </div>
    </div>
{% endblock %}