{% extends 'base_with_body.html' %}

{% block head %}
    <link href="{% static "css/page_edit.css" %}" rel="stylesheet">
{% endblock %}

{% block body_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="pe_main col-sm-12">
                <div class="container">
                    {% autoescape off %}
                        {% block page %}
                            - Insert page here -
                        {% endblock %}
                    {% endautoescape %}
                </div>
            </div>
            <div class="pe_sidebar">
                <div>
                    <div class="row">
                        <div class="h2 col-12 my-0">
                            Module opties
                        </div>
                        <hr class="col-12 border-white my-2">
                    </div>

                    <div class="row">
                        <div class="h4 col-12">
                            Details
                        </div>
                        <div class="col-12">
                            {% block module_details %}
                                Please select a module
                            {% endblock %}

                        </div>
                        <hr class="col-12 border-white my-2">
                    </div>

                    <form class="row" method="post">
                        {% csrf_token %}
                        {% block module_options %}

                        {% endblock %}
                    </form>

                </div>
            </div>

        </div>
    </div>
{% endblock %}