{% extends 'pagedisplay/page_edit_base.html' %}
{% load page_tags %}

{% block module_decor %}
    <a class="page_edit_overlay" href="{% url 'edit_page' inf_id=page.id module_id=module.id %}">
        <div></div>
    </a>
{% endblock %}

{% block sidebar_title %}
    Edit page
{% endblock %}

{% block sidebar_content %}
    <div class="row">
        <div class="h4 col-12">
            Instructions
        </div>
        <div class="col-12">
            Click on a module to edit it
        </div>
        <hr class="col-12 border-white my-2">
        <a class="btn btn-primary btn-block" href="{% url 'edit_page_add' inf_id=page.id container_id=page.layout.id %}">Voeg module toe</a>
    </div>
{% endblock %}