{% if widget.module.image %}
    <div style="{{ widget.module.css }}">
        <div class="" style="
                background: url({{ widget.module.image|img }}) no-repeat center;
                background-size: {{ widget.size }};
                height: {{ widget.module.height }}px;">
        </div>
        {% if widget.module.caption %}
            <div class="caption text-center">
                <p>{{ widget.module.caption }}</p>
            </div>
        {% endif %}
    </div>
{% endif %}