<div class="btn-group-horizontal-md btn-group-toggle" data-toggle="buttons">
{% for group, options, index in widget.optgroups %}
    {% for widget in options %}
        <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}"{% endif %} class="btn btn-outline-primary
        {% if widget.attrs.checked %}
            active
        {% endif %}
        ">

        <input type="{{ widget.type }}" name="{{ widget.name }}"
                {% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}
                {% include "django/forms/widgets/attrs.html" %}>

        {{ widget.label }}
        </label>
    {% endfor %}
{% endfor %}
</div>