{% load score_result_tags %}
{% load i18n %}

{% if inquirer %}
    <div class="d-flex justify-content-between">
        <div class="p-3 col-12" style="">
            {% if progress_step %}
                <div class="w-100 d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Stepbuttons">
                        <a class="btn
                                {% if progress_step == 1 %} btn-light
                                {% elif progress_step < 1 %}btn-outline-secondary disabled
                                {% else %}btn-outline-light{% endif %}"
                           href="{% if not progress_step == 1 %}{% url "reset_inquiry" %}{% endif %}">
                            <div class="px-1 px-sm-1 px-md-3 px-lg-5">
                                {% trans "Stap" context "Step-guide" %} 1: {% trans "Vragen" context "step-1" %}
                            </div>
                        </a>
                        <a class="btn
                                {% if progress_step == 2 %} btn-light
                                {% elif enable_step_2 %}btn-outline-light
                                {% else %}btn-outline-secondary disabled{% endif %}"
                           href="{% url "results_display" %}">
                            <div class="px-0 px-sm-1 px-md-3 px-lg-5">
                                {% trans "Stap" context "Step-guide" %} 2: {% trans "Resultaten" context "step-2" %}
                            </div>
                        </a>
                        <a class="btn
                                {% if progress_step == 3 %} btn-light
                                {% elif enable_step_3 %}btn-outline-light
                                {% else %}btn-outline-secondary disabled{% endif %}"
                           href="{% url "collectives:take_action" %}">
                            <div class="px-0 px-sm-1 px-md-3 px-lg-5">
                                {% trans "Stap" context "Step-guide" %} 3: {% trans "Collectieven" context "step-2" %}
                            </div>
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="d-flex justify-content-center">
                    <div class="text-light">

                        <a href="{% url 'jump_to_current' %}" class="btn btn-light ml-3">
                            <i class="fas fa-arrow-right"></i>
                            {% if not inquirer.active_inquiry.is_complete %}
                                {% trans "Ga verder met de vragenlijst" %}
                            {% else %}
                                {% trans "Ga naar Mijn Resultaten" %}
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endif %}